<header class="grid">
        <!-- Top Navigation -->
        <nav class="s-12 grid background-none background-primary-hightlight">
           <!-- logo -->
           <a href="index.html" class="m-12 l-3 padding-2x logo">
              <img src="{{ 'assets/img/logo.svg'|theme }}">
           </a>
           <div class="top-nav s-12 l-9"> 
              <ul class="top-ul right chevron">
                <li><a href="{{ 'index'|page }}">Home</a></li>
                <li><a href="{{ 'about-us'|page }}">About Us</a></li>
                <li><a href="{{ 'services'|page }}">Services</a></li>
                <li><a href="{{ 'gallery'|page }}">Gallery</a></li>
                <li><a href="{{ 'contact'|page }}">Contact</a></li>
              </ul>
           </div>
        </nav>
      </header>